<div class="content">
	<div class="title">
		<img src="https://www.google.com/images/srpr/logo11w.png"/>
	</div>


	<div class="content-box">
		<form action="#" method="POST">
			<ul>
				<li id="search">
					<input type="text">
				</li>
				<div id="search-buttons">
					<li id="button1">
						<input type="submit" value="Google Search">
					</li>
					<li id="button2">
						<input type="submit" value="I'm Feeling Lucky">
					</li>
				</div>
			</ul>
		</form>
	</div>
</div>


