.title{
	position: static;
	width: 269px;
	color: transparent;
	background-repeat: no-repeat;
	margin-right: 720px;
	margin-left: 720px;
	margin-top: 180px;
	background-size: 269px auto;
	padding-top: 112px;
}

.content-box{
	margin-top: 200px;
	padding: 30px;
}

#search input{
	width: 500px;
	height: 25px;
}

#button1 input{
	width: 98px;
	height: 29px;
	border-radius: 1px;
	color: #444;
	font-weight: bold;
	background: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	border-color:rgba(0,0,0,0.1);
	font-size: 11px;
}

#button2 input{
	width: 114px;
	height: 29px;
	border-radius: 1px;
	color: #444;
	font-weight: bold;
	background: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	border-color:rgba(0,0,0,0.1);
	font-size: 11px;
}

